<launch>

  <arg name="rcam_dev" default="10"/>
  <arg name="lcam_dev" default="12"/>
  <arg name="sync" default="true"/>
  <arg name="stereo_alg" default="0"/>
  <arg name="correlation_window" default="11"/>
  <arg name="disparity_range" default="48.0"/>
  <arg name="uniqueness_ratio" default="0.0"/>
  <arg name="speckle_size" default="15.0"/>
  <arg name="speckle_range" default="14.0"/>
  <arg name="publish_tf" default="true" />

  <group ns="stereo">
       
    <node pkg="tf2_ros" type="static_transform_publisher" name="stereo_frame" args="0 0 0 -1.5707963 0 -1.5707963 map stereo_optical"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="left_camera_frame" args="0 0.06 0 0 0 0 stereo_optical left_camera_optical "/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="right_camera_frame" args="0 -0.06 0 0 0 0 stereo_optical right_camera_optical "/>

    <node pkg="cv_camera" type="cv_camera_node" name="left" output="screen">
      <param name="flip_image" value="false" />
      <param name="device_id" value="$(arg lcam_dev)" />
      <param name="image_width" value="640" />
      <param name="image_height" value="480" />
      <param name="camera_info_url" value="file:///home/firefly/.ros/camera_info/left_camera_optical.yaml"/>
      <param name="frame_id" value="left_camera_optical"/>
      <!-- <param name="rate" value="100"/>  poll rate 
      <param name="cv_cap_prop_fps" value="40"/>  camera FPS -->
    </node>
  
    <node pkg="cv_camera" type="cv_camera_node" name="right" output="screen">
        <param name="flip_image" value="false" />
        <param name="device_id" value="$(arg rcam_dev)" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="camera_info_url" value="file:///home/firefly/.ros/camera_info/right_camera_optical.yaml"/>
        <param name="frame_id" value="right_camera_optical"/>
        <!-- <param name="rate" value="100"/>  poll rate 
        <param name="cv_cap_prop_fps" value="40"/>  camera FPS -->
      </node>

    <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
      <param name="approximate_sync" type="bool" value="$(arg sync)" />
      <param name="stereo_algorithm" type="double" value="$(arg stereo_alg)" />
      <param name="correlation_window_size" type="double" value="$(arg correlation_window)" />
      <param name="disparity_range" type="double" value="$(arg disparity_range)" />
      <param name="uniqueness_ratio" type="double" value="$(arg uniqueness_ratio)" />
      <param name="speckle_size" type="double" value="$(arg speckle_size)" />
      <param name="speckle_range" type="double" value="$(arg speckle_range)" />
    </node>

    <node name="disparity_visualize" pkg="disparity_visualize" type="disparity_visualize_node">
      <remap from="/disparity" to="/stereo/disparity"/>
      <remap from="/stereo/disparity_visualize/image" to="/stereo/disparity_image"/>
    </node>

    

    <!--<node pkg="disparity_to_point_cloud" type="disparity_to_point_cloud_node" name="disparity_to_point_cloud">
      <remap from="/disparity" to="/stereo/disparity_image"/>
      <remap from="/point_cloud" to="/stereo/point_cloud2"/>
    </node>-->
    
  </group>

  

</launch>