<launch>
  <arg name="pointcloud_topics" default="[/stereo/points2]"/>

  <!-- Define a static transform from a camera internal frame to the fcu for every camera used -->
  <!--<node pkg="tf2_ros" type="static_transform_publisher" name="fcu_frame" args="0 0 0 -1.5707963 0 -1.5707963 fcu stereo_optical"/>-->

  <!-- Launch PX4 and mavros -->
  <include file="$(find avoidance)/launch/avoidance_sitl_mavros.launch" >
  </include>

  <include file="$(find avoidance)/launch/camGS.launch" >
  </include>
  

</launch>

